.box-layout {
    align-items: center;
    background: url('/images/background.jpg');
    background-size: auto;
    color: $off-white;
    display: flex; 
    height: 100vh;
    width: 100vw;
    justify-content: center;
}

.box-layout__box {
    background: fade-out($color: $color-primary, $amount: .05);
    border-radius: 3px;
    text-align: center;
    width: 28rem;
    padding: $l-size $m-size;
}

.box-layout__title {
    margin: 0 0 $m-size 0;
    line-height: 1;
}