.button-header {
    background: $color-primary;
    color: $off-white;
    border: none;
    display: inline-block;
    font-weight: 300;
    font-size: $font-size-large;
    line-height: 1;
    padding: $s-size;
    text-decoration: none;
}
