.button {
    background: $color-accent;
    color: $off-white;
    border: none;
    display: inline-block;
    font-weight: 300;
    font-size: $font-size-large;
    line-height: 1;
    padding: $s-size;
    text-decoration: none;
}

.button--multiple {
    @extend .button;
    margin: 0 $s-size $s-size 0;
}
.button--red{
    @extend .button;
    background: $washed-red;
}
.button--link {
    background: none;
}

.button--secondary {
    background: #888888;
}